* {
    padding: 0%;
    margin: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Space+Mono&display=swap');


body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section-head {
    width: 90%;
    height: fit-content;
    font-family: 'Inconsolata',
        monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}

.section-head h3 {
    width: 90%;
    margin: 5vh auto;
    letter-spacing: -0.1em;
}

.section-body {
    width: 90%;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-body .main-body h1 {
    font-family: 'Space Mono',
        monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 3.4rem;
    letter-spacing: -0.035em;
    color: #333333;
}

.section-body .main-body button.btn {
    padding: 10pt 15pt;
    margin: 5% 0;
    width: fit-content;
    color: #fff;
    font-style: normal;
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    background-color: #333;
}

.main-body p {
    width: 70%;
    height: fit-content;
    padding: 5% 0;
    font-size: 1.5em;
    color: #333333;
    font-family: 'Space Mono', monospace;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}

footer.section-foot {
    text-align: center;
    width: 100%;
    margin: 3% auto;
    font-size: 1em;
    font-style: normal;
    color: #888;
    font-family: 'Montserrat',
        sans-serif;
}

footer span {
    color: transparent;
    background-image: linear-gradient(30deg, #f0a 10%, #0af);
    background-clip: text;
    font-weight: 700;
    -webkit-background-clip: text;
}

/*<< starts desktop design css >>*/
@media only screen and (min-width:768px) {
    .section-body .image img {
        width: 60%;
    }
}
/*<< ends desktop design css >>*/

/*starts mobile design*/
@media only screen and (max-width:768px) {

    .section-body {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .section-body .image {
        display: flex;
    }

    .section-body .image img {
        width: 90%;
        margin: 5% auto;
        height: auto;
    }
}